########################################
# JetBrains / IntelliJ / CLion
########################################
/.idea/         # 
.idea/         # 
*.iml           # 
/.idea/.gitignore

########################################
# CMake / Visual Studio 
########################################
/build/                         # 
/cmake-build-*/                 # CLion/VS cmake-build-xxx 
/CMakeFiles/                    # CMake temporary files
*.cmake                         # .cmake files
